<%= form_with(model: profile, local: true) do |form| %>

<div class="field">
  <label class="label">Give your list a name:</label>
  <div class="control">
    <%= form.text_field :name, class: 'input', autofocus: true %>
  </div>
</div>

<div class="field">
  <label class="checkbox">
    <%= form.check_box :default %>
    Make this your default list
  </label>
</div>


<div class="field">
  <label class="checkbox">
    <%= form.check_box :show_images %>
    Show images
  </label>
</div>

<div class="field">
  <label class="checkbox">
    <%= form.check_box :show_read_items %>
    Show items you've already seen or read
  </label>
</div>

<label class="label">
  Show items from the:
</label>
<% Profile.last_hours.each do |last_hour| %>
<div class="field">
  <label class="checkbox">
    <%= form.radio_button :last_hours, last_hour, checked: @profile.last_hours == last_hour %>
    <%= t("last_hours.#{last_hour}") %>
  </label>
</div>
<% end %>
<hr>
<label class="label">
  Select the feeds you want in your list:
</label>

<ul class="mb-5">
  <% Feed.all.order(:title).each do |feed| %>
  <li>
    <label class="checkbox">
      <%= check_box_tag "profile[feed_ids][]", feed.id, form.object.feeds.include?(feed) %>
      <%= feed %>
    </label>
    <% end %>
  </li>
</ul>
<hr>
<p class="content has-text-centered">
  <%= form.submit t("common.#{@profile.new_record? ? 'create' : 'save'}_profile"), class: 'button is-success' %>
</p>
<% end %>