<div class="has-text-centered has-background-white-bis is-box-shadow-inset mb-0">
  <div class="container is-max-width-30em">
    <%= link_to feeds_url, data: {controller: 'history', action: 'click->history#back'}, class: 'is-pulled-left has-text-grey is-height-24px is-width-24px on-hover-has-text-link' do %>
    <span class="icon is-height-100percent is-width-100percent">
      <i class="fas fa-chevron-left"></i>
    </span>
    <% end %>
    <%= link_to edit_profile_url(@profile), class: 'is-pulled-right has-text-grey is-height-24px is-width-24px on-hover-has-text-link' do %>
    <span class="icon is-height-100percent is-width-100percent">
      <i class="fas fa-edit"></i>
    </span>
    <% end %>
    <h1 class="title is-size-5 pb-4 pt-4 is-display-block">
      <%= @profile.name %>
    </h1>
  </div>
</div>
<section class="section pt-2 px-2">
  <div class="container is-max-width-30em mt-2 animate__animated animate__slideInUp">
    <% if @items.empty? %>
    <p class="has-text-centered has-text-grey pt-5 is-size-5">
      <%= t('info.no_items') %>
    </p>
    <% else %>
    <%= render partial: '/items/items', locals: {items: @items }%>
    <%= render partial: '/shared/bottom_buffer' %>
    <% end %>
  </div>
</section>