<section class="section">

  <h1 class="title">
    <%= @profile.name %>
    <%= link_to 'Edit', edit_profile_path(@profile), class: 'button is-small' %>
  </h1>
  <h2 class="subtitle">
    <%= t('common.feeds').humanize %>
  </h2>

  <ul>
    <% @profile.feeds.each do |feed| %>
    <li class="content">
      <%= link_to t('common.remove'), profile_feed_destroy_url(profile_id: @profile.id, feed_id: feed.id), method: :delete, class: 'button is-small is-warning' %>
      <%= link_to feed, feed %>
    </li>
    <% end %>
  </ul>
</section>