<h1 class="title is-size-5 mb-0 has-text-centered has-background-white-bis pt-4 pb-4 is-box-shadow">
  <%= t('headings.edit_account') %>
</h1>
<div class="container is-max-width-25em">
  <section class="section">
    <%= form_for(resource, as: resource_name, url: registration_url(resource_name), html: { method: :put }) do |f| %>

    <div class="field">
      <%= f.label t('fields.your_email'), class: 'label' %>
      <%= render 'shared/field_error', errors: resource.errors[:email] %>
      <div class="control">
        <%= f.email_field :email, autocomplete: 'email', class: 'input', required: true %>
      </div>
    </div>

    <div class="level">
      <div class="level-start">
        <div class="level-item">
          <%= link_to t('buttons.change_password'), change_password_url, class: 'is-text-underline' %>
        </div>
      </div>
      <div class="level-end">
        <div class="level-item">
          <%= f.submit t('buttons.update'), class: 'button is-success is-pulled-right' %>
        </div>
      </div>
    </div>
    <% end %>
  </section>
  <hr>
  <section class="content has-text-centered">
    <p>
      <%= t('copy.cancel_account') %>
    </p>
    <%= link_to t('buttons.cancel_account'), registration_url(resource_name), data: { confirm: t('common.are_you_sure') }, method: :delete, class: 'button is-danger is-small' %>
  </section>
</div>