<div class="has-text-centered has-background-white-bis is-box-shadow-inset mb-0">
  <div class="container is-max-width-30em">
    <%= link_to back_url, class: 'is-pulled-left has-text-grey is-height-24px is-width-24px on-hover-has-text-link' do %>
    <span class="icon is-height-100percent is-width-100percent">
      <i class="fas fa-chevron-left"></i>
    </span>
    <% end %>
    <div class="is-pulled-right is-height-24px is-width-24px"></div>
    <h1 class="title is-size-5 pb-4 pt-4 is-display-block">
      <%= t('headings.edit_account') %>
    </h1>
  </div>
</div>
<div class="container is-max-width-30em">
  <section class="section">
    <%= form_for(resource, as: resource_name, url: registration_url(resource_name), html: { method: :put }) do |f| %>

    <%= f.label t('fields.your_email'), class: 'label' %>
    <%= render 'shared/field_error', errors: resource.errors[:email] %>
    <div class="field has-addons">
      <div class="control is-expanded">
        <%= f.email_field :email, autocomplete: 'email', class: 'input', required: true %>
      </div>
      <div class="control">
        <%= f.submit t('buttons.update'), class: 'button is-success is-pulled-right' %>
      </div>
    </div>
    <% end %>
  </section>
  <hr>
  <section class="section content has-text-centered">
    <p>
      <%= t('copy.cancel_account') %>
    </p>
    <%= link_to t('buttons.cancel_account'), registration_url(resource_name), data: { confirm: t('common.are_you_sure') }, method: :delete, class: 'button is-danger is-small' %>
  </section>
  <hr>
</div>