<h1 class="title is-size-5 mb-0 has-text-centered has-background-white-bis pt-4 pb-4 is-box-shadow">
  <%= t('headings.change_password') %>
</h1>
<div class="container is-max-width-25em">
  <section class="section">
    <%= form_for(@user, url: update_password_url ) do |f| %>
    <div class="field">
      <%= f.label :password, class: 'label' %>
      <% if User.password_length %>
      <p class="help"><%= t('info.password_minimum', minimum: User.password_length.min) %></p>
      <% end %>
      <%= render 'shared/field_error', errors: @user.errors[:password] %>
      <div class="control">
        <%= f.password_field :password, autofocus: true, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'label' %>
      <%= render 'shared/field_error', errors: @user.errors[:password_confirmation] %>
      <div class="control">
        <%= f.password_field :password_confirmation, class: 'input', required: true %>
      </div>
    </div>

    <div class="actions">
      <%= link_to t('common.cancel').humanize, edit_user_registration_url, class: 'button' %>
      <%= f.submit t('buttons.save_new_password'), class: 'button is-link is-pulled-right' %>
    </div>
    <% end %>
  </section>
</div>