<div class="has-text-centered has-background-white-bis is-box-shadow-inset mb-0">
  <div class="container is-max-width-30em">
    <%= link_to edit_user_registration_url, class: 'is-pulled-left has-text-grey is-height-24px is-width-24px on-hover-has-text-link' do %>
    <span class="icon is-height-100percent is-width-100percent">
      <i class="fas fa-chevron-left"></i>
    </span>
    <% end %>
    <div class="is-pulled-right is-height-24px is-width-24px"></div>
    <h1 class="title is-size-5 pb-4 pt-4 is-display-block">
      <%= t('headings.forgot_password') %>
    </h1>
  </div>
</div>
<div class="container is-max-width-30em">
  <section class="section">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'label' %>
      <%= render 'shared/field_error', errors: resource.errors[:email] %>
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t('buttons.send_password_reset'), class: 'button is-info is-pulled-right' %>
    </div>
    <% end %>
  </section>
</div>