<nav class="navbar is-fixed-bottom is-transparent" role="navigation" aria-label="main navigation" data-turbolinks-animate-persist="true">
  <div class="navbar-brand is-transparent is-width-100percent">
    <div class="dropdown is-hoverable navbar-item is-up is-margin-0-auto is-width-100percent is-max-width-30em">
      <div class="dropdown-trigger is-width-100percent">
        <button class="is-box-shadow is-justify-content-center button has-icon is-width-100percent is-warning is-border-solid-2px-white-ter is-medium" aria-haspopup="true" aria-controls="dropdown-profiles">
          <span class="is-overflow-x-hidden-ellipsis is-width-100percent">
            <%= @menu_text || t('common.newsfeed') %>
          </span>
        </button>
      </div>
      <div class="dropdown-menu is-width-100percent" id="dropdown-profiles" role="menu">
        <div class="dropdown-content is-border-solid-2px-white-ter mx-5">
          <%= link_to t('navigation.about'), about_url(), class: 'dropdown-item' %>
          <%= link_to t('navigation.all_feeds'), feeds_url(), class: 'dropdown-item' %>
          <hr class="dropdown-divider">
          <% if user_signed_in? %>
          <%= link_to t('navigation.edit_account'), edit_user_registration_url(), class: 'dropdown-item' %>
          <%= link_to t('navigation.sign_out'), :destroy_user_session, method: :delete, class: 'dropdown-item' %>
          <hr class="dropdown-divider">
          <%= link_to t('navigation.your_profiles'), profiles_url(), class: 'dropdown-item' %>
          <%= link_to t('navigation.your_collections'), collections_url(), class: 'dropdown-item' %>
          <hr class="dropdown-divider">
          <% current_user.profiles.order(default: :desc).order(:name).limit(8).each do |profile| %>
          <%= link_to profile_url(profile.id), class: "dropdown-item is-overflow-x-hidden-ellipsis#{' has-text-weight-bold' if profile == @profile}" do %>
          <span class="icon">
            <i class="fas fa-list"></i>
          </span>
          <span>
            <%= profile %>
          </span>
          <% end %>
          <% end %>
          <%= link_to collection_url(current_user.default_collection_id), class: "dropdown-item is-overflow-x-hidden-ellipsis#{' has-text-weight-bold' if current_user.default_collection == @collection}" do %>
          <span class="icon">
            <i class="fas fa-bookmark"></i>
          </span>
          <span>
            <%= current_user.default_collection %>
          </span>
          <% end %>
          <%- else -%>
          <%= link_to t('navigation.sign_in'), :new_user_session, class: 'dropdown-item' %>
          <%= link_to t('navigation.sign_up'), :new_user_registration, class: 'dropdown-item' %>
          <hr class="dropdown-divider">
          <%= link_to t('navigation.world_news'), :root, class: 'dropdown-item' %>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>
</nav>