<div class="dropdown is-hoverable navbar-item is-up is-right">
  <div class="dropdown-trigger">
    <button class="button is-outlined is-dark has-icon is-small" aria-haspopup="true" aria-controls="dropdown-user">
      <span class="icon is-small">
        <i class="far fa-user" aria-hidden="true"></i>
      </span>
      <% if user_signed_in? %>
      <span class="is-hidden-mobile">
        <%= current_user %>
      </span>
      <% end %>
      <span class="icon is-small">
        <i class="fas fa-angle-up" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu has-text-black" id="dropdown-user" role="menu">
    <div class="dropdown-content">
      <%- if user_signed_in? -%>
      <%= link_to t('navigation.edit_account'), edit_user_registration_url(), class: 'navbar-item' %>
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to t('navigation.sign_out'), :destroy_user_session, method: :delete, class: 'button is-outlined is-small' %>
        </div>
      </div>
      <%- else -%>
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to t('navigation.sign_in'), :new_user_session, class: 'button is-small' %>

          <%= link_to t('navigation.sign_up'), :new_user_registration, class: 'button is-small' %>
        </div>
        <%- end -%>
      </div>
    </div>
  </div>
</div>