<div class="dropdown is-hoverable navbar-item is-up is-right is-position-absolute-right-0">
  <div class="dropdown-trigger">
    <button class="button is-outlined is-dark has-icon" aria-haspopup="true" aria-controls="dropdown-user">
      <span class="icon is-small">
        <i class="fas fa-rss-square" aria-hidden="true"></i>
      </span>
      <span class="is-hidden-mobile">
        <%= current_user || 'Newsfeed' %>
      </span>
      <span class="icon is-small">
        <i class="fas fa-angle-up" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu is-warning" id="dropdown-user" role="menu">
    <div class="dropdown-content">
      <%= link_to t('navigation.home'), :root, class: 'navbar-item' %>
      <%- if user_signed_in? -%>
      <%= link_to current_user, edit_user_registration_url(), class: 'navbar-item' %>
      <hr class="dropdown-divider">
      <%= link_to t('navigation.sign_out'), :destroy_user_session, method: :delete, class: 'navbar-item' %>
      <%- else -%>
      <%= link_to t('navigation.sign_in'), :new_user_session, class: 'navbar-item' %>
      <%= link_to t('navigation.sign_up'), :new_user_registration, class: 'navbar-item' %>
      <%- end -%>
    </div>
  </div>
</div>