<div class="has-text-centered has-background-white-bis is-box-shadow-inset mb-0">
  <div class="container is-max-width-30em">
    <%= link_to back_url, class: 'is-pulled-left has-text-grey is-height-24px is-width-24px on-hover-has-text-link' do %>
    <span class="icon is-height-100percent is-width-100percent">
      <i class="fas fa-chevron-left"></i>
    </span>
    <% end %>
    <div class="is-pulled-right is-height-24px is-width-24px"></div>
    <h1 class="title is-size-5 pb-4 pt-4 is-display-block">
      <%= t('headings.sign_in') %>
    </h1>
  </div>
</div>
<div class="container is-max-width-30em">
  <section class="section">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'has-text-left'}) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'label' %>
      <div class="control">
        <%= f.email_field :email, autocomplete: 'email', class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label' %>
      <div class="control">
        <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>
      </div>
    </div>

    <div>
      <%= link_to t('buttons.forgot_password'), new_password_path(resource_name), class: 'button' %>
      <%= f.submit t('navigation.sign_in'), class: 'button is-success is-pulled-right' %>
    </div>

    <% end %>
  </section>
</div>