<h1 class="title is-size-5 mb-0 has-text-centered has-background-white-bis pt-4 pb-4 is-box-shadow-inset">
  <%= t('headings.sign_in') %>
</h1>
<div class="container is-max-width-30em">
  <section class="section">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'has-text-left'}) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'label' %>
      <div class="control">
        <%= f.email_field :email, autocomplete: 'email', class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label' %>
      <div class="control">
        <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>
      </div>
    </div>

    <div>
      <%= link_to t('buttons.forgot_password'), new_password_path(resource_name), class: 'button' %>
      <%= f.submit t('navigation.sign_in'), class: 'button is-success is-pulled-right' %>
    </div>

    <% end %>
  </section>
</div>