<details data-item-id="<%= item.id %>" class="is-item mb-5 card<%= ' is-seen' if (@seen_items&.include? item.id) %><%= ' has-main-image' if @show_images && item.main_image.attached? && item.main_image_width >= 300 %>" <%= 'open' unless (@seen_items&.include? item.id) %>>
  <summary class="card-content">
    <h2 class="subtitle">
      <% if @show_images && item.main_image.attached? && item.main_image_width < 300 %>
      <figure class="is-hidden-closed is-pulled-right mr-0 ml-2">
        <img src="<%= item.main_image.variant(resize: '150x').service_url %>" alt="Main image for <%= item.title %>" loading="lazy" class="is-rounded is-max-height-96px is-max-width-96px">
      </figure>
      <% end %>
      <%= link_to item.title, item_read_url(item), target: '_blank', rel: 'noopener' %>
    </h2>
  </summary>
  <% if @show_images && item.main_image.attached? && item.main_image_width >= 300 %>
  <div class="card-image mb-4 is-border-bottom-darker is-border-top-darker">
    <figure class="image">
      <img src="<%= item.main_image.variant(resize: '400x').service_url %>" alt="Main image for <%= item.title %>" loading="lazy">
    </figure>
  </div>
  <% end %>
  <div class="card-content pt-0">
    <%= link_to item.feed, item.feed, class: 'has-text-grey is-size-7 on-hover-has-text-link' %>
    <div class="content">
      <%= item.summary.html_safe %>
    </div>
  </div>
  <% if Rails.env.development? %>
  <footer class="card-footer has-background-white-bis">
    <div class="card-footer-item">
      <%= link_to item_url(item), class: 'has-icon' do %>
      <span class="icon">
        <i class="fas fa-link"></i>
      </span>
      <% end %>
    </div>
  </footer>
  <% end %>
</details>