<details data-item-id="<%= item.id %>" class="is-item mt-5 card<%= ' is-seen' if item.seen_by? current_user %><%= ' has-image' if item.image %>" <%= 'open' unless item.seen_by? current_user %>>
  <summary class="card-content">
    <h2 class="subtitle">
      <%= link_to item.title, item_read_url(item), target: '_blank', rel: "noopener" %>
    </h2>
  </summary>
  <% if item.image %>
  <div class="card-image mb-4 is-border-bottom-darker is-border-top-darker">
    <figure class="image">
      <img src="<%= item.image %>" alt="Image for <%= item.title %>" loading="lazy">
    </figure>
  </div>
  <% end %>
  <div class="card-content pt-0">
    <%= link_to item.feed, item.feed, class: 'has-text-grey is-size-7 on-hover-has-text-link' %>
    <div class="content">
      <%= item.summary.html_safe %>
    </div>
  </div>
</details>