<section class="section">
  <div class="columns is-centered is-tablet">
    <div class="column is-one-third is-hidden-mobile is-hidden-tablet">
    </div>
    <div class="column is-one-third-desktop is-two-thirds-tablet">
      <% current_time_ago = 0 %>
      <% @items.each do |item| %>
      <% if current_time_ago != time_ago_in_words(item.published_at) %>
      <div class="has-text-centered content">
        <% current_time_ago = time_ago_in_words(item.published_at) %>
        <%= link_to "#{current_time_ago} ago", item, class: 'has-text-grey-light on-hover-has-text-link is-size-7' %>
      </div>
      <% end %>
      <div class="card">
        <% if image = item.image %>
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="<%= image %>" alt="Placeholder image">
          </figure>
        </div>
        <% end %>
        <div class="card-content">
          <%= link_to item.feed, item.feed, class: 'has-text-grey is-size-7 on-hover-has-text-link' %>
          <h2 class="subtitle">
            <%= link_to item.title, item.url, target: '_blank', rel: "noopener" %>
          </h2>
          <% if item.summary == item.summary(99999999) %>
          <p>
            <%= item.summary.html_safe %>
          </p>
          <% else %>
          <details>
            <summary>
              <%= item.summary.html_safe %>
            </summary>
            <div>
              <hr>
              <%= item.summary(99999999).html_safe %>
            </div>
          </details>
          <% end %>
        </div>
        <!--
        <footer class="card-footer has-background-white-ter is-rounded-bottom">
          <div class="card-footer-item">
            <button class="button has-icon is-light is-small">
              <span class="icon has-text-grey">
                <i class="fas fa-share-alt-square"></i>
              </span>
            </button>
          </div>
          <div class="card-footer-item">
            <button class="button has-icon is-light is-small">
              <span class="icon has-text-grey">
                <i class="fas fa-clock"></i>
              </span>
            </button>
          </div>
          <div class="card-footer-item">
            <a class="button has-icon is-light is-small" href="<%= item_url(item) %>">
              <span class="icon has-text-grey">
                <i class="fas fa-anchor"></i>
              </span>
            </a>
          </div>
        </footer>
        -->
      </div>
      <br>
      <% end %>
    </div>
    <div class="column is-one-third">
      <%= form_tag("/", method: 'get', remote: true ) do %>
      <h2 class="subtitle">
        Feeds
      </h2>
      <ul>
        <% Feed.all.order(:title).each do |feed| %>
        <li>
          <label class="checkbox">
            <input class="on-change-submit-form" type="checkbox" name="feed_ids[]" value="<%= feed.id %>" <%= 'checked' if @feeds.include?(feed) %>>
            <a href="?feed_ids[]=<%= feed.id %>">
              <%= feed %>
            </a>
          </label>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</section>